<div class="login-form">
  <form method="POST" action="http://localhost:8080/api/clients/catalogue/create">
    <h2 class="text-center">Registration</h2>
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="email">Email</label>
    <input id="email" type="text" name="email">
    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
